#main .content #tos {
    text-align: left;
    padding: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif
}
h1 {
    font-size: 2.3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.4em;
}
p, li {
    font-size: 1.3em;
    text-decoration: none;
}
ul li ul li {
    font-size: 1.3em;
}
a, p a {
    font-size: 1em;
    color: tomato;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}