#main .content .buttons {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#main .content .buttons  a {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 30%;
    margin: 1%;
    font-size: 1.65REM;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #DB6C79;
}

.banners {
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}
.banners img {
    width: 45%;
    border-radius: 20px;
}
/*
E3B505
*/
.subspace {
    margin: 10px;
    margin-bottom: 20px;
    min-height: 150px;
    border-radius: 20px;
    padding: 20px;
}
.subspace h3 {
    font-size: 3REM;
    font-weight: 900;
}
.boxes {
    justify-content: space-evenly;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.boxes div {
    width: 25%;
    background-color: #4F6D7A;
    min-height: 150px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.left {
    text-align: left;
}
.left p {
    font-size: 1.2REM;
}
.boxes div p {
    text-align: center;
}
.boxes div h4 {
    font-size: 1.5REM;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}
.faq {
    background-color: #E2C2FF;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.faq h4 {
    font-size: 1.5REM;
    margin: 0;
    margin-bottom: 10px;
}
.faq p {
    margin: 0;
}

@media only screen and (min-width: 1000px) {
    
}



.blue {
    background-color: #5b98e7;
    color: white;
}
.orange {
    background-color: #FFD07B;
    color: black;
}
.red {
    background-color: #F96F5D;
    color: black;
}
.purple {
    background-color: #E2C2FF;
    color: black;
}
.brown {
    background-color: #C06E52;
    color: white;
}