#main .content #tos {
    text-align: left;
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p,
li {
    font-size: 1.3em;
    text-decoration: none;
}

a,
p a {
    font-size: 1em;
    color: #EA8C55;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
#usage {
    line-height: 3EM;
}
#usage .label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
}
#usage .howto {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
}
#usage b {
    color: #FFD400;
}
#tos #tags {
    flex-wrap: wrap;
}
#tags div{
    font-weight: 800;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 10px;
    font-weight: 800;
}
.sfw {
    background-color: #81F499;
    color: black;
}
.nsfw {
    background-color: #EE6C4D;
    color: white;
}